<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping Cart', 'none')"></head>

<body>
    <div class="container-fluid">
        <div th:replace="navigation :: header_menu"></div>
        <div th:replace="navigation :: search_nav"></div>

        <div class="text-center">
            <h1>Your Shopping Cart</h1>
        </div>

        <div class="row m-1">
            <div class="col-sm-8"> <!-- First column for the Cart Items & second column for the Cost(Checkout) -->
                <th:block th:each="item, status : ${cartItems}">
                    <div class="row border rounded p-1" th:id="'row' + ${status.count}"> <!-- for each product we have row -->
                        <div class="col-1">
                            <div class="divCount">[[${status.count}]]</div>
                            <div>
                                <a th:href="@{'/cart/remove/' + ${item.product.id}}" th:rowNumber="${status.count}"
                                   class="fas fa-trash linkRemove icon-dark"></a>
                            </div>
                        </div>

                        <div class="col-3">
                            <img th:src="@{${item.product.mainImagePath}}" class="img-fluid">
                        </div>
                        <div class="col-6">
                            <div>
                                <a th:href="@{'/p/' + ${item.product.alias}}" target="_blank" th:title="${item.product.name}">
                                    <b>[[${item.product.shortName}]]</b>
                                </a>
                            </div>

                            <div th:replace="cart/quantity_control :: quantity_control(${item.quantity}, ${item.product.id})"></div>

                            <div>
                                <span>X&nbsp;</span>

                                <th:block th:if="${item.product.discountPercent &lt;= 0}">
                                    <span>
                                        <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                        [[${item.product.price}]]
                                        <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">[[${CURRENCY_SYMBOL}]]</span>
                                    </span>
                                </th:block>

                                <th:block th:if="${item.product.discountPercent > 0}">
                                    <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">
                                        <span style="font-size:larger; color:darkred">[[${CURRENCY_SYMBOL}]] [[${item.product.discountPrice}]]</span>
                                    </span>
                                         <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">
                                        <span style="font-size:larger; color:darkred"> [[${item.product.discountPrice}]] [[${CURRENCY_SYMBOL}]]</span>
                                    </span>
                                    &nbsp;
                                    <span th:if="${CURRENCY_SYMBOL_POSITION == 'Before price'}" th:remove="tag">
                                    <del><span>[[${CURRENCY_SYMBOL}]] [[${item.product.price}]]</span></del>
                                    </span>
                                        <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">
                                        <del><span>[[${item.product.price}]] [[${CURRENCY_SYMBOL}]]</span></del>
                                    </span>
                                </th:block>

                                <div>
                                    <span>&nbsp;</span>

                                    <span th:id="'subTotal' + ${item.product.id}" class="h4 subTotal">[[${item.subTotal}]]</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-1" th:id="'blankline' + ${status.count}">&nbsp;</div>
                </th:block>
            </div>

            <div class="col-sm-4" th:unless="${#lists.isEmpty(cartItems)}" id="sectionTotal">
                <div>
                    <span class="h3">Estimated Total:</span>
                </div>
                <div class="mt-2">
<!--                    <span th:if="${CURRENCY_SYMBOL_POSITION == 'After price'}" th:remove="tag">-->
                       <span id="total" class="h2">[[${estimatedTotal}]] [[${CURRENCY_SYMBOL}]]</span>
<!--                    </span>-->
                </div>
                <div class="mt-2">
                    <button class="btn btn-danger p3 mt-2">Check Out</button>
                </div>
            </div>
        </div>

        <div id="sectionEmptyCartMessage" th:class="'text-center' + ${#lists.isEmpty(cartItems) ? '' : ' d-none'}" >
            <h3>Your Cart is Empty.</h3>
        </div>

        <div th:replace="fragments :: modal_dialog"></div>
        <div th:replace="navigation :: footer_menu"></div>
    </div>
<script th:src="@{/js/jquery.number.min.js}"></script>
<script th:src="@{/js/shopping_cart.js}"></script>
<script th:src="@{/js/common_modal.js}"></script>

    <script>
        contextPath = "[[@{/}]]";
        var csrfHeaderName = "[[${_csrf.headerName}]]";
        var csrfValue = "[[${_csrf.token}]]";
    </script>
</body>
</html>