<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head  th:replace="fragments :: page_head('Internal Server Error - Shopme', 'none')" />
<body>
    <!-- Spring will automatically detect this page -->
    <div class="container-fluid">

      <div th:replace="navigation :: header_menu"></div>

      <div class="container-fluid">
        <div class="text-center"> <!-- eg. when sortField is wrong-->
            <img th:src="@{/images/Internal-Server-Error.png}" width="480" height="360" />
            <h1 class="ud-heading-serif-xxl error__greeting">
                Sorry, the server has encountered an error while processing your request
            </h1>
            <h2></h2>
        </div>
      </div>
    </div>

    <div th:replace="navigation :: footer_menu"></div>


</body>
</html>